*{
  box-sizing: border-box;
}

body{
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/bg-body.png);
  margin: 0;
}

.banner{
  display: none;
}

.container{
  width: 95%;
  margin: auto;
}

.logo{
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
  margin: 15px auto 30px;
}

.toggle-nav{
  display: block;
  margin: auto;
  width: 40px;
  padding: 10px 0;
  text-align: center;
  background-color: #222;
}

.toggle-nav span{
  font-size: 2em;
  color: #fff;
}

.main-nav{
  display: none;
}

.main-nav ul{
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.main-nav a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: solid 1px #fff;
  font-size: 1.5em;
  color: #fff;
  background-color: #333;
}

.product{
  margin: 30px 0;
}

.product img{
  width: 100%;
}

.product h2{
  font-size: 2.5em;
}

.product p{
  font-size: 1.5em;
}

.product a{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
  background-color: #222;
}

.main-footer{
  background-color: #f00;
}

.main-footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px #fff;
}

@media (min-width: 700px){
  .container{
    width: 100%;
    min-width: 1200px;
  }

  .toggle-nav{
    display: none;
  }

  .main-nav{
    display: block !important;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .main-nav li{
    float: left;
    width: 15%;
    margin: 0 0.83%;
  }

  .main-nav a{
    border-bottom: none;
    font-size: 1.3em;
    text-align: center;
  }

  .banner{
    display: block;
    margin: 0 0.83%;
  }

  .banner img{
    width: 100%;
  }

  .vip-products{
    overflow: hidden;
  }

  .product{
    margin-left: 0.83%;
    margin-right: 0.83%;
    width: 48.34%;
    float: left;
  }
}

@media (min-width: 1000px) {
  .product{
    width: 31.66%;
  }

  .main-footer {
    text-align: center;
    border-radius: 15px 15px 0 0;
    margin-left: 0.83%;
    margin-right: 0.83%;
    padding: 30px 0;
  }

  .main-footer li{
    display: inline-block;
  }

  .main-footer a{
    padding: 15px;
    text-align: center;
    border-bottom: none;
    border-right: solid 1px #fff;
  }

  .main-footer li:last-child a{
    border-right: none;
  }

}
