*{
  box-sizing: border-box;
}

body{
  font-family:"Tahoma", sans-serif;
  background-image: url(../imgs/topography.png);
  background-attachment: fixed;
}

.cleaner{
  clear: both;
}

.section, .hobbies_title, .hobbies, .hobbies_footer, .navegacion, .contacto, #titulo-principal {
  width: 960px;
  padding: 30px;
  border: dotted 5px rgb(134, 91, 110);
  margin: auto;
  margin-top: 20px;
}

.container{
  width:1010px;
  padding: 0px 20px 20px;
  background-color: rgb(239, 190, 245);
  margin: auto;
  border: solid 5px rgb(4, 136, 33);
}

.hobbies_title{
  background-color: rgb(155, 14, 238);
  width: 960px;
}

.hobbies{
  background-color: rgb(32, 155, 175);
  width: 630px;
  float:right;
}

.navegacion{
  background-color: rgb(224, 84, 43);
  width: 300px;
  float: left;
}

.hobbies_footer{
  background-color: rgb(34, 185, 107);
  width: 960px;
}

.formulario{
  background-color: rgba(249, 107, 15, 1);
  width: 630px;
  float: right;
}

.informacion_personal{
  background-color: rgba(244, 191, 136, 1);
}

.formacion_academica{
  background-color: rgba(19, 69, 87, 1);
}

.experiencia_laboral{
  background-color: rgba(200, 79, 61, 1);
}

.contacto_index{
  background-color: rgba(96, 116, 252, 1);
}

.direccion{
  background-color: rgba(74, 147, 6, 1);
}

.header{
  background-color: rgba(136, 0, 136, 0.4);
}

.footer{
  background-color: rgba(177, 139, 54, 0.4);
}

.titulares{
  color: #0000ff;
  text-decoration: underline;
  font-weight: normal;
}

#titulo-principal{
  text-align: center;
  font-style: italic;
  color: rgba(40, 40, 255, 0.7);
}

p{
  text-align: justify;
  font-size: 14px;
  line-height: 23px;
}

.destacado{
font-family: "Lucida Sans Unicode", sans-serif;
font-style: italic;
background-color: rgba(189, 255, 0, 0.4);
color: rgba(12, 125, 6, 0.95);
font-size: 22px;
line-height: 29px;
}

strong{
  font-weight: inherit;
}

em{
  font-style: inherit;
}

mark{
  background-color: inherit;
  color:inherit;
}
